
.frame2:hover{border-color:powderblue; }
.Namehvr:hover{color:#F7FD04}
  .frame{border-radius:80%;
    border-color:black;
    border-width:30px;
    border-style:inset;
    transition: 2s;

  }
  body{background-color:powderblue;}
  hr{
    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%}
  h1{color:#79b1b1;transition: 3s;}
  h2{color:#79bfb1;}
